<h1 class = "text-center mt-5">WIG@LOCA</h1>
<p class = "text-center">Changez votre style</p>

<div class="container d-flex juftify-content-around flex-wrap">
  <% @wigs.each do |wig| %>
  <%= link_to wig_path(wig), {:style => "margin: 10px"} do %>
  <div class="wig" style = "margin:0 50px;">
   <%= image_tag wig.url, class:"img-fluid" %>
    <div class="wig-infos">
      <div>
        <h2><%= wig.name %></h2>
        <p>Voir description</p>
      </div>
      <h2 class="wig-pricing">€8.99 / jour</h2>
    </div>
  </div>
  <% end %>
   <% end %>
</div>
