<h1>Wigs#index</h1>
<p>Find me in app/views/wigs/index.html.erb</p>


<div class="d-flex juftify-content-around flex-wrap">
  <% @wigs.each do |wig| %>
  <%= link_to wig_path(wig) do %>
  <div class="wig">
   <%= image_tag wig.url %>
    <div class="wig-infos">
      <div>
        <h2><%= wig.name %></h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
  <% end %>
   <% end %>
</div>
