<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<div class="card">
  <img >
  <div class="card-body">
    <h5 class="card-title">Votre réservation</h5>
    <p class="card-text">
      <ul>
        <li><%= image_tag @booking.wig.url %></li>
        <li>Début du booking : <%= @booking.starts_at %></li>
        <li>Fin du booking : <%= @booking.ends_at %></li>
      </ul>
    </p>
  </div>
</div>
