<h1 class="text-center mt-3">My Booking</h1>
<div class="container">
  <div class="card-product">
    <%= image_tag @booking.wig.url %>
    <div class="card-product-infos">
      <h2>Wig: <%= @booking.wig.name %></h2>
      <h2>Start: <%= @booking.starts_at %></h2>
      <h2>End: <%= @booking.ends_at %></h2>
    </div>
  </div>
</div>
