<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcjj6hxol/image/upload/v1668778664/development/logo-hair-tendance-coiffure-perruques-mariage-chatillon-sur-seine-bourgogne-21-11-1_yqlxup.jpg);">
 <div class="container">
    <div class="ctn">
      <h1>Bienvenue à WIG@LOCA, <strong>le Paradis</strong> des <strong>WIGS</strong>!</h1>
      <%= link_to "Change ton look à volonté", wigs_path , class:"btn btn-flat"%>
    </div>
  </div>
</div>
