// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "footer";
@import "tab";
@import"button";

.wig {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 50%;
  margin: 10px;
}

.wig > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.wig h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.wig p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.wig .wig-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.wig-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
